<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="step.css">
        <meta charset="UTF-8">
    </head>
    <title>Hello from Flask</title>
<body>
    <div class="card-container">
        <div class="card u-clearfix">
        <div class="card-body">
            <span class="card-number card-circle subtle">01</span>
            <span class="card-author subtle">John Smith</span>
            <h2 class="card-title">New Brunch Recipe</h2>
            <span class="card-description subtle" id="card-description">text</span>
            <div class="card-read">Read</div>
            <span class="card-tag card-circle subtle">C</span>
        </div>
    <!-- <img src="{{image}}" width="104" height="142"> -->
            <img src="" alt="" class="card-media"  id="card-media" width="50%" height="50%" />
        </div>
        <div class="card-shadow"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="step2.js"></script>
</body>
</html>