<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='step.css') }}">
    </head>
    <title>Hello from Flask</title>
    {% if name %}
    <h1>Hello {{ name }}!</h1>
    {% else %}
    <h1>Hello, World!</h1>
    {% endif %}
<body>
    <div class="card-container">
        <div class="card u-clearfix">
        <div class="card-body">
            <span class="card-number card-circle subtle">01</span>
            <span class="card-author subtle">John Smith</span>
            <h2 class="card-title">New Brunch Recipe</h2>
            {% if text %}
            <span class="card-description subtle">{{ text }}</span>
            {% endif %}
            <div class="card-read">Read</div>
            <span class="card-tag card-circle subtle">C</span>
        </div>
            {% if img %}
    {% for image in img %}
    <!-- <img src="{{image}}" width="104" height="142"> -->
            <img src="{{ image }}" alt="" class="card-media" width="50%" height="50%" />
            {% endfor %}
            {% endif %}
        </div>
        <div class="card-shadow"></div>
    </div>


{% if link %}
<a href="https://www.w3schools.com">This is a link</a>
{% endif %}



</body>
</html>